/* Reset styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input,
select,
option {
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  appearance: none;
}

ul,
ol {
  list-style: none;
}

button:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Main styles */
body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--White);
}

.card__content {
  padding: 32px;
  color: var(--Grey);
}

.card__label {
  font-size: 12px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.card__title {
  margin-top: 20px;
  color: var(--Black);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 33px;
  line-height: 100%;
}

.card__text {
  margin-top: 24px;
  line-height: 160%;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.product-price__new {
  color: var(--Green-500);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 34px;
}

.product-price__old {
  font-size: 13px;
  text-decoration: line-through;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 8px;
  padding-block: 14px;
  color: var(--White);
  font-weight: 700;
  background-color: var(--Green-500);
}

.button:hover {
  background-color: var(--Green-700);
  cursor: pointer;
}

.button__icon {
  width: 16px;
  height: 16px;
}

.card__button {
  margin-top: 24px;
}

.attribution {
  padding: 24px;
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 320px) and (max-width: 599.98px) {
  .card {
    grid-template-columns: 1fr;
    max-width: 360px;
  }

  .card__button {
    margin-top: 20px;
  }
}